<section>

</section>
<main>
    @RenderPage("~/Views/Components/Calander.cshtml")

    <div id="calander">
        <events-calander></events-calander>
    </div>
    <script>
        new Vue({
            el: '#calander'
        })
    </script>
</main>
<section>

</section>